{% extends "player/layout.html" %}
{% load static %}

{% block title %}Home - Web Player{% endblock %}

{% block body %}

<h1>Welcome</h1>
<h2>Your Webplayer</h2>

<br>
<hr>

<h4>Latest Realeses</h4>
<br>
<div style="display:flex; flex-direction:row; flex-wrap: wrap;">
    {% for song in latest %}
    <div style="margin: 0 2rem 2rem 2rem">
        {% if song.cover %}
        <img src="{{ song.cover.url }}" alt="">
        {% endif %}
        <h3>{{ song.title }}</h3>
        <h4>{{ song.artist }} {% if song.feat %}feat. {{ song.feat }}{% endif %}</h4>
        <audio controls>
            <source src="{{ song.song.url }}" type="audio/mpeg">
            <source src="{{ song.song.url }}" type="audio/ogg">
            <source src="{{ song.song.url }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <h4>{{ song.album }}</h4>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}
